{% extends 'users/base.html' %}

{% block content %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Pricing</h1>
  <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>

<div class="container">
  <div class="d-flex flex-column">
    <h1>Registered Users</h1>
      {% for x in users %}
      <p>{{ x.username }} | {{ x.email }}</p>
      {% endfor %}
  </div>
</div>

{% endblock %}