{% extends 'users/base.html' %}

{% block content %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Hello and welcome to my blog site!</h1>
  <p class="fs-5 text-muted">I am delighted that you have taken the time to visit and explore my content. Here, you will find a collection of articles and posts covering a variety of topics, ranging from technology and science to personal development and lifestyle. 

My goal is to create an informative, engaging, and thought-provoking platform that will stimulate your mind and spark conversations. I hope that you will find my blog site to be a valuable resource that you can visit regularly for inspiration and knowledge.

Please feel free to leave comments, share your thoughts and ideas, and engage with other visitors to the site. I am always open to feedback and suggestions for future posts, so please don't hesitate to reach out.

Thank you for visiting, and I hope you enjoy reading my blog as much as I enjoy creating it!</p>
</div>

<div class="container">
  <div class="d-flex flex-column">
    <h1>Registered Users/Writers</h1>
      {% for x in users %}
      <p>{{ x.username }}</p>
      {% endfor %}
  </div>
</div>

{% endblock %}
